@import '@one-platform/opc-styles';

h1,
h2,
h3,
h4,
h5,
h6,
ul,
button,
input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  vertical-align: baseline;
  background: none;
}

:host {
  --opc-nav-search-bg: #f3f3f3;
  --opc-nav-search__padding: 12px 17px;
  --opc-nav-search__border-radius: 8px;
}

.opc-nav {
  &-search {
    &__form {
      display: flex;
      align-items: center;
      transition: var(--opc-nav-transition--default, 120ms ease-in-out);
      background: #f3f3f3;
      border-radius: var(--opc-nav-search__border-radius);
    }

    &__btn {
      padding: var(--opc-nav-search__padding);
      cursor: pointer;
    }

    &__input {
      font-family: var(--opc-global--Heading--Font-Family);
      font-size: 16px;
      transition: var(--opc-nav-transition--default, 120ms ease-in-out);
      outline: none;
      opacity: 1;
      width: 40vw;
      max-width: 720px;

      &:required {
        box-shadow: none;
      }
    }
  }
}
