@import '@one-platform/opc-styles';

h1,
h2,
h3,
h4,
h5,
h6,
ul,
button,
input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  vertical-align: baseline;
  background: none;
}

.opc-nav {
  &-search {
    &__form {
      display: flex;
      align-items: center;
      transition: var(--opc-nav-transition--default, 120ms ease-in-out);
      background: none;

      &[active],
      &:hover {
        background: var(--opc-nav-btn__hover-color);

        img {
          filter: invert(42%) sepia(13%) saturate(5058%) hue-rotate(187deg)
            brightness(85%) contrast(85%);
        }
      }
    }

    &__btn {
      padding: var(--opc-nav-btn__padding);
      cursor: pointer;
    }

    &__input {
      font-family: var(--opc-global--Heading--Font-Family);
      font-size: 16px;
      width: 0;
      opacity: 0;
      transition: var(--opc-nav-transition--default, 120ms ease-in-out);
      outline: none;

      &:required {
        box-shadow: none;
      }

      &-active {
        opacity: 1;
        width: 20vw;
        max-width: 360px;
        padding-right: 20px;
      }
    }
  }
}
