@mixin heading--one {
  font: {
    family: var(--opc-global--Heading--font-Family, 'Red Hat Display');
    size: $opc-global--FontSize--4xl;
    weight: $opc-global--fontWeight--normal;
  }
}

@mixin heading--two {
  font: {
    family: var(--opc-global--Heading--font-Family, 'Red Hat Display');
    size: $opc-global--FontSize--3xl;
    weight: $opc-global--fontWeight--normal;
  }
}

@mixin heading--two__large_quotes {
  font: {
    family: var(--opc-global--Heading--font-Family, 'Red Hat Display');
    size: $opc-global--FontSize--3xl;
    weight: $opc-global--fontWeight--light;
  }
}

@mixin heading--three {
  font: {
    family: var(--opc-global--Heading--font-Family, 'Red Hat Display');
    size: $opc-global--FontSize--2xl;
    weight: $opc-global--fontWeight--normal;
  }
}

@mixin heading--four {
  font: {
    family: var(--opc-global--Heading--font-Family, 'Red Hat Display');
    size: $opc-global--FontSize--xl;
    weight: $opc-global--fontWeight--normal;
  }
}

@mixin heading--four__small_quotes {
  font: {
    family: var(--opc-global--Heading--font-Family, 'Red Hat Display');
    size: $opc-global--FontSize--xl;
    weight: $opc-global--fontWeight--light;
  }
}
