/// global variables are defined here
/// prefix for css custom property
$prefix: opc !default;

/// adding support for css custom property by default
$USE-FALLBACK: true;

/// Global variables for Gap/ Spacing in layout
/// Small Space
$opc-gap-4: 4px;
$opc-gap-8: 8px;
$opc-gap-12: 12px;
$opc-gap-16: 16px;
/// Medium Space
$opc-gap-20: 20px;
$opc-gap-24: 24px;
$opc-gap-28: 28px;
$opc-gap-32: 32px;
/// Large Space between the containers
$opc-gap-64: 64px;
$opc-gap-72: 72px;
