/// White, Gray and Black Family
$opc-color--white:      #ffffff;
$opc-color--black-100:  #FAFAFA;
$opc-color--black-150:  #F5F5F5;
$opc-color--black-200:  #F0F0F0;
$opc-color--black-300:  #D2D2D2;
$opc-color--black-400:  #B8BBBE;
$opc-color--black-500:  #8A8D90;
$opc-color--black-600:  #6A6E73;
$opc-color--black-700:  #4F5255;
$opc-color--black-800:  #3C3F42;
$opc-color--black-850:  #212427;
$opc-color--black-900:  #151515;
$opc-color--black-1000: #030303;


/// Red Family
$opc-color--red-50:  #FAEAE8;
$opc-color--red-100: #C9190B;
$opc-color--red-200: #A30000;
$opc-color--red-300: #7D1007;
$opc-color--red-400: #470000;
$opc-color--red-500: #2C0000;


/// Blue Family
$opc-color--blue-50:  #E7F1FA;
$opc-color--blue-100: #BEE1F4;
$opc-color--blue-200: #73BCF7;
$opc-color--blue-300: #2B9AF3;
$opc-color--blue-400: #0066CC;
$opc-color--blue-500: #004080;
$opc-color--blue-600: #002952;
$opc-color--blue-700: #001223;

/// Green Family
$opc-color--green-50:  #F3FAF2;
$opc-color--green-100: #BDE5B8;
$opc-color--green-200: #95D58E;
$opc-color--green-300: #6EC664;
$opc-color--green-400: #5BA352;
$opc-color--green-500: #3E8635;
$opc-color--green-600: #1E4F18;
$opc-color--green-700: #0F280D;

/// Cyan Family
$opc-color--cyan-50:  #F2F9F9;
$opc-color--cyan-100: #A2D9D9;
$opc-color--cyan-200: #73C5C5;
$opc-color--cyan-300: #009596;
$opc-color--cyan-400: #005F60;
$opc-color--cyan-500: #003737;
$opc-color--cyan-600: #002323;
$opc-color--cyan-700: #000F0F;

/// Purple Family
$opc-color--purple-50:  #F2F0FC;
$opc-color--purple-100: #CBC1FF;
$opc-color--purple-200: #B2A3FF;
$opc-color--purple-300: #A18FFF;
$opc-color--purple-400: #8476D1;
$opc-color--purple-500: #6753AC;
$opc-color--purple-600: #40199A;
$opc-color--purple-700: #1F0066;

/// Light Blue Family
$opc-color--light-blue-100: #BEEDF9;
$opc-color--light-blue-200: #7CDBF3;
$opc-color--light-blue-300: #35CAED;
$opc-color--light-blue-400: #00B9E4;
$opc-color--light-blue-500: #008BAD;
$opc-color--light-blue-600: #005C73;
$opc-color--light-blue-700: #002D39;

/// Gold Family
$opc-color--gold-50:  #FDF7E7;
$opc-color--gold-100: #F9E0A2;
$opc-color--gold-200: #F6D173;
$opc-color--gold-300: #F4C145;
$opc-color--gold-400: #F0AB00;
$opc-color--gold-500: #C58C00;
$opc-color--gold-600: #795600;
$opc-color--gold-700: #3D2C00;

/// Light Green Family
$opc-color--light-green-100: #E4F5BC;
$opc-color--light-green-200: #C8EB79;
$opc-color--light-green-300: #ACE12E;
$opc-color--light-green-400: #92D400;
$opc-color--light-green-500: #6CA100;
$opc-color--light-green-600: #486B00;
$opc-color--light-green-700: #253600;

/// Orange Family
$opc-color--orange-100: #F4B678;
$opc-color--orange-200: #EF9234;
$opc-color--orange-300: #EC7A08;
$opc-color--orange-400: #C46100;
$opc-color--orange-500: #8F4700;
$opc-color--orange-600: #773D00;
$opc-color--orange-700: #3B1F00;
