/* font style */
.rh-display {
  font-family: 'Red Hat Display', sans-serif;
}

.rh-text {
  font-family: 'Red Hat Text', sans-serif;
}

body {
  margin: 0;
}

header {
  height: 72px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  font-weight: 500;
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  border: 1px solid #ddd;
  color: black;
  background: white;
}

.slide {
  width: 100vw;
  height: 100vh;
  padding-top: 72px;
  z-index: 0;
}

h3 {
  font-weight: 100;
  margin-top: 2rem;
  margin-left: 1rem;
}

p {
  margin-top: 2rem;
  margin-left: 1rem;
}
