@import '@one-platform/opc-styles';

$LOCAL: timeline;

:host {
  --opc-timeline--BackgroundColor: #DEDEDE;
  --opc-timeline--Top: 0.3rem;
  --opc-timeline--Color--step: #689B7A;
  --opc-timeline--TextColor: #6C6C6C;
  --opc-timeline--Color--active: #0aa521;
  --opc-timeline--Color--after-active: #b6e4bc;
  --opc-timeline--Left--spacing: 0rem;
  --opc-timeline--Right--spacing: 0rem;
}

.timeline {
  display: flex;
  justify-content: space-between;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    height: 2px;
    left: var(--opc-timeline--Left--spacing, 0rem);
    width: calc(100% - var(--opc-timeline--Right--spacing, 0rem));
    background: var(--opc-timeline--BackgroundColor, #DEDEDE);
    top: var(--opc-timeline--Top, 0.3rem);
  }
  &__step {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--opc-timeline--TextColor, #6C6C6C);
    cursor: pointer;
    z-index: 0;
    &::before {
      content: '';
      position: relative;
      top: 2px;
      margin-bottom: $opc-global--spacer--sm;
      width: $opc-global--spacer--sm;
      height: $opc-global--spacer--sm;
      border-radius: 50%;
      background: var(--opc-timeline--Color--step, #689B7A);
    }
    &.active::after {
      content: '';
      position: absolute;
      top: -2px;
      width: $opc-global--spacer--md;
      height: $opc-global--spacer--md;
      background: white;
      border: 2px solid var(--opc-timeline--Color--active, #0aa521);
      border-radius: 50%;
    }
    &.active ~ &::before {
      background: var(--opc-timeline--Color--after-active, #b6e4bc);
    }
  }
}
.timeline-label {
  display: flex;
  justify-content: space-between;
}
