@import '@one-platform/opc-styles';

$LOCAL: footer;

:host {
  display: block;
}

/// Custom Mixin
@mixin reset-link {
  text-decoration: none;
  margin-bottom: 8px;
  cursor: pointer;
}

@mixin mixin--link-category__name {
  @include heading--four__small_quotes;
  margin-bottom: opc-get-var(MarginBottom, 1rem);
  text-transform: uppercase;
}

/// Common styles for both theme
footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: opc-get-var(Padding, 20px);

  .link-category {
    margin-left: opc-get-var(MarginLeft, 8px, link-category);
    margin-right: opc-get-var(MarginRight, 8px, link-category);
    margin-bottom: opc-get-var(MarginBottom, 32px, link-category);
    min-width: opc-get-var(MinWidth, 280px, link-category);;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
  }

  .link-category-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .link-category__name {
    @include mixin--link-category__name;
  }

  a {
    @include reset-link;
    &:hover {
      text-decoration: underline;
    }
  }

}

/// Default theme Styles
.light {
  border: 1px solid $opc-color--black-300;
  color: opc-get-var(TextColor,#000);
  background: opc-get-var(BackgroundColor, #FFF);

  a { color: opc-color(text) }
}

/// Dark theme Styles
:host([theme="dark"]) {
  color: opc-get-var(TextColor,#fff);
  background: opc-get-var(BackgroundColor, #000);
}

.dark {
  a { color: opc-color(text--on-dark) }
}

.light.background-image-light,
.dark.background-image-dark {
  background-image: url('./images/left-footer-cubes.svg'), url('./images/right-footer-cubes.svg');
  background-repeat: no-repeat;
  background-position: -38px center, calc(100% + 38px) center;
}

.light.background-image-light {
  background-blend-mode: exclusion;
}

/// Inherits the theme from the parent element
.note {
  flex: 1 0 100%;
  text-align: center;
  font-size: opc-get-var(FontSize, 14px, Note);
}
