* {
  font-size: 200%;
}

span {
  width: 4rem;
  display: inline-block;
  text-align: center;
}

button {
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 10px;
  background-color: #BE0000;
  color: white; 
  i {
    margin-right: 1rem;
  }
}

.info {
  text-align: center;
  &__text {
    font-size: var(--font-size, 32px);
  }
}
