@import "@one-platform/opc-styles";

:host {
  display: block;
}

.hide {
  display: none;
}

.show {
  font-family: "Red Hat Text", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  display: flex;
  align-items: center;
}
