@import '@one-platform/opc-styles';

$LOCAL: opc-back-to-top;

$variables: ( 
  //Add your variables here
);

:host {
  // add root styles here
}

.hide{
  display: none;
}
.show {
  
  font-family: 'Red Hat Text', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  
}